<!--
//Name: COMP2007 Enterprise Computing final project  - Summer 2016
//Author: Mo Zou &　Pui in Kwok & Yang Li
//Description: This view will display the item detail that user choose, and allow them to
//             add the item into cart
-->



@using finalProject.Models
@model Item

@{
    ViewBag.Title = "Item - " + Model.Title;
}



<br />

<div class="row">
    <div class="col-lg-8">
        <br />
        <img src="@Model.URL" alt="@Model.Title"  />
    </div>

    <div id="item-details" class="col-lg-4">
        <h2>@Model.Title</h2>
        <br />
        <p>
            <em>Belong to Menu:</em>
            @Model.Menu.Name
        </p>

        <p>
            <em>Description:</em>
            @Model.DetailedDescription
        </p>
        <p>
            <em>Price:</em>
            @String.Format("{0:F}", Model.Price)
        </p>
        <p class="button">
            @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ItemID }, "")
        </p>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>